@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  background: rgba(249, 249, 249, 1);
}

html,
body {
  overflow-x: clip;
}

.ant-dropdown-menu-item:hover {
  background: transparent !important;
}
.ant-dropdown-open:hover {
  border: none !important;
}

@layer utilities {
  .scrollbar-hide {
    /* Поддержка для всех браузеров */
    -ms-overflow-style: none; /* Internet Explorer и Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari и Opera */
  }
}

.ant-dropdown-menu-title-content {
  display: flex;
  gap: 8px;
}