.animateFadeInDown {
  animation-name: fadeInDown;
  animation-duration: 300ms;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.animateFadeOutTop {
  animation-name: fadeOutTop;
  animation-duration: 300ms;
}

@keyframes fadeOutTop {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(-4px);
  }
}
